
logging.level.org.tbk.nostr: TRACE

spring.docker.compose:
  enabled: true
  file: ../../docker/regtest/nostr/docker-compose.yml
  stop.command: DOWN # STOP is default, DOWN stops and removes containers and networks
  skip.in-tests: false
