spring.application.name: 'tbk-nostr-agentic-dev'

debug: false

# LOGGING
logging.file.path: ./var/log
logging.file.name: application-dev.log
logging.config: classpath:logback-development.xml
logging.level.org.springframework: INFO
logging.level.org.tbk.nostr: DEBUG

spring.docker.compose:
  file:
    - ./docker-compose.yml
    - ../../docker/regtest/demented/docker-compose.yml

org.tbk.nostr.example.agentic:
  client:
    relay-uri: 'ws://localhost:7000'
