spring.application.name: 'tbk-nostr-client'

spring.lifecycle.timeout-per-shutdown-phase: 30s
spring.threads.virtual.enabled: true

# LOGGING
logging.file.path: ./var/log
logging.file.name: application.log
logging.config: classpath:logback.xml
logging.level.org.springframework: INFO

org.tbk.nostr.example.client:
  #relay-uri: wss://nostr-pub.wellorder.net
  relay-uri: wss://relay.damus.io
