app.name: tbk-nostr-spring-boot-starter-demo (test)
app.description: A spring boot nostr demo application

spring.application.name: 'tbk-nostr-spring-boot-starter-demo-test'
spring.http.log-request-details: true

logging.file.name: application-test.log
logging.level.org.tbk.nostr: TRACE

spring.datasource.url: 'jdbc:sqlite:nostr_relay_example_application-test.db?foreign_keys=true'

