
services:
  ollama:
    image: ollama/ollama:0.6.5@sha256:96b7667cb536ab69bfd5cc0c2bd1e29602218e076fe6d34f402b786f17b4fde0
    restart: no
    ports:
      - "19434:11434"
    volumes:
      - ollama-data:/root/.ollama
    environment:
      # https://github.com/ollama/ollama/blob/0fe487e7325cd72b8b06e758c2a03842c557dbda/envconfig/config.go#L239
      - OLLAMA_KEEP_ALIVE=24h
      - OLLAMA_HOST=0.0.0.0:11434

volumes:
  ollama-data:
